@CHARSET "ISO-8859-1";

/*
	border layout
*/
.z-borderlayout {
	background: none;	
}

.northArea {
	background-color: #d9251c;
}

.westArea {
	background-color: #d9251c;
}

.centerArea {
	background-color: #d9251c;
}

/*
	tabs
*/
.z-tabs, .z-tab {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;	
	font-size: 14px;
	background: #d9251c;
}

.z-tab:hover {
	background: #d9251c;
}

.z-tab-text {
	color: yellow;
}

.z-tab-selected:hover {
	background: #cd0200;
}

.z-tab-selected .z-tab-text {
	color: #b5ce07;
}

.z-tab-selected {
    border-bottom-color: #b5ce07;
}

.z-tab-selected .z-tab-text:hover {
	color: #b5ce07;
}

a:hover, a:focus {
	color: #b5ce07;
	text-decoration: none;
}

.infoResultLabel {
	color: #b5ce07;
}

/*  
	remove the listbox borders
*/

.z-listbox {
	border: 0px;
}

.z-listbox-header-border {
	border: 0px;
}

.z-listbox-header {
	background: #f98a00;
}

.z-listheader {
	border: 0px;
	background: #f98a00;
}

.z-listhead-bar {
	background: #f98a00;
	border-left: none;
	border-bottom: none;
}

/*
	set the header content - padding -> padding affects the row height  
*/

.z-listheader-content {
	padding: 5px;
	font-size: 1em;
}

/*  
	set the listcell content - font-size & padding -> font-size & padding affects the row height
*/

.z-listcell-content {
	font-size: 1em;
	padding: 5px;
}

.z-listfooter-content {
	color: #000000;
	font-size: 14px;
}

.listinfoEditButton {
	min-height: 12px;
	font-size: 12px;
	padding: 0px 6px 0px 6px;
	background-color: #f98a00;
}

.kejadianHasilMigrasiButton {
	min-height: 12px;
	font-size: 12px;
	padding: 0px 6px 0px 6px;
	background-color: #f98a00;
}

.kerugianEditButton {
	min-height: 12px;
	font-size: 12px;
	padding: 0px 6px 0px 6px;
	background-color: #045b03ad;
}

.migrasiButton {
	min-height: 12px;
	font-size: 12px;
	padding: 0px 6px 0px 6px;
	background-color: #0910efe6;
}

.phkKitaKerugianEditButton {
	min-height: 12px;
	font-size: 12px;
	padding: 0px 6px 0px 6px;
	background-color: red;
}

.phkMusuhKerugianEditButton {
	min-height: 12px;
	font-size: 12px;
	padding: 0px 6px 0px 6px;
	background-color: red;
}

.phkLainKerugianEditButton {
	min-height: 12px;
	font-size: 12px;
	padding: 0px 6px 0px 6px;
	background-color: red;
}

.expandedRow {
	height: 120px;
    vertical-align: top;
}

.expandedRowProp {
	height: 170px;
    vertical-align: top;
}

.summaryGrid {
	border: 0px;
}

.hlayout-box {
	padding: 5px;
}

/*

*/
.z-combobox-listinfo {
	padding: 0px;
	height: 22px;
	font-size: 1em;
	border-radius: 0px;
	display: inline;
}

.z-combobox-listinfo > .z-combobox-input {
	width: 80px;
}

.red-background.z-listitem .z-listcell {
	background: red;
}

/*

*/

.autopaging-content-kronologis .z-listcell-content {
	height: 110px;
}


.autopaging-content-kejadian-menonjol .z-listcell-content {
	height: 30px;
}